@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

img {
  object-fit: cover;
  -webkit-user-drag: none;
  object-position: center left;
}

html {
  --primary-color: #0169cc;

  --primary-dark-color: #0f589d;

  --main-color: rgba(255, 255, 255, 0.8);

  --bg-color: #191919;

  --list-color: #202020;

  --hover-color: rgba(255, 255, 255, 0.05);

  --border-color: #2a2a2a;

  --el-color-primary: #0169cc !important;
}

.flex-center {
  @apply flex justify-center items-center;
}

.wh-screen {
  @apply w-screen h-screen;
}

.wh-full {
  @apply w-full h-full;
}

.ellipsis {
  @apply whitespace-nowrap overflow-hidden text-ellipsis;
}

.rotate {
  animation: rotate 1s infinite linear;
}

.text-shadow {
  text-shadow: 0 1px 1px #191919;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  @apply overflow-hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grid-list {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.p-unset {
  padding: unset !important;
}

.m-unset {
  margin: unset !important;
}

.el-scrollbar__bar {
  right: 4px !important;
}

.el-tooltip {
  padding: 2px 8px;
  --el-bg-color-overlay: #2c2c2b;
}

.el-select__popper {
  --el-popper-border-radius: 8px !important;
  border: unset !important;
  padding: unset !important;

  background-color: #252525 !important;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 14px 28px -6px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px -1px,
    rgba(255, 255, 255, 0.094) 0px 0px 0px 1px !important;

  .el-select-dropdown__list {
    padding: 4px !important;

    .el-select-dropdown__item {
      height: 32px !important;
      padding: 0 12px !important;
      border-radius: 6px !important;
    }

    .is-selected {
      color: var(--el-text-color-regular);
      font-weight: inherit;
    }

    .is-hovering {
      background-color: var(--hover-color) !important;
    }
  }

  .el-popper__arrow {
    display: none;
  }
}

.el-dialog {
  --el-dialog-border-radius: 10px !important;
  box-shadow: 0 1px 10px 0 rgba(#000, 0.5) !important;
  border: 1px solid var(--border-color);
  background-color: var(--list-color) !important;
}

.el-overlay {
  background-color: rgba(#000, 0.3) !important;
}
