@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  background-color: transparent;
  user-select: none;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: top;
}

.el-dialog {
  border-radius: 0.5rem !important;
  box-shadow: 0 0 10px 5px rgba(#000, 0.4) !important;
}

@font-face {
  font-family: "logo";
  src: url("./fonts/logo.ttf");
}

.text-color {
  color: rgba(#fff, 0.81);
}

.text-color-darken {
  color: rgba(#fff, 0.282);
}

//骨架屏颜色
.el-skeleton {
  --el-skeleton-color: #262626 !important;
  --el-skeleton-to-color: #303030 !important;
}

.el-popper {
  --el-bg-color-overlay: #2f2f2f !important;
  padding: 2px 8px !important;
  border: none !important;

  box-shadow: 0 0 4px 2px rgba(#000, 0.1);
}

//多行省略
.line-ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.line-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.grid-list {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
