@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
  user-select: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

img {
  object-fit: cover;
  -webkit-user-drag: none;
}

.text-color {
  color: rgba(#fff, 0.81);
}

.text-color-darken {
  color: rgba(#fff, 0.282);
}

.tooltip-tip {
  padding: 2px 8px !important;
}

.playrate-menu {
  padding: unset !important;
  border: unset !important;
  border-radius: unset !important;
  background-color: transparent !important;
}

//骨架屏颜色
.el-skeleton {
  --el-skeleton-color: #262626 !important;
  --el-skeleton-to-color: #303030 !important;
}

//多行省略
.line-ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.line-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.grid-list {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.el-scrollbar__bar {
  right: 4px !important;
  bottom: 4px !important;
}
