#adv_wrap_hh,
.broadside,
.art-control-setting,
.art-contextmenu-version,
.art-contextmenu-info,
.art-contextmenu-close,
.art-contextmenu-flip,
.art-contextmenu-aspectRatio,
.batteryShape,
.ec-danMa,
.dm-box,
.header {
  display: none !important;
}

#loading,
#error {
  background: none !important;
  background-color: #131313 !important;
}

#error {
  top: 0;
  left: 0;
}

.art-contextmenus {
  padding: 0 !important;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: 1px solid #454545;
  border-radius: 5px !important;
}

.art-contextmenu {
  border: none !important;
  background-color: #1f1f1f !important;
}

.playrate {
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.8rem !important;
  border-radius: 0.5rem;
  background-color: rgba(33, 33, 33, 0.9);
  gap: 0.5rem;
  z-index: 1000;
  font-size: 14px;
  display: none;
  align-items: center;
  position: fixed;
  color: #fff;
  font-family: "Microsoft YaHei";
}

.playrate svg {
  width: 30px;
  > g {
    opacity: 0.2;
    animation: o 1s infinite;
  }

  > g:nth-child(1) {
    animation-delay: 0.4s;
  }

  > g:nth-child(2) {
    animation-delay: 0.2s;
  }

  > g:nth-child(3) {
    animation-delay: 0s;
  }
}

@keyframes o {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}
